/* Labs Design System - Color Tokens */
:root {
  --color-primary: #2e2b74;
  --color-secondary: #0d0b3f;
  --color-background: rgb(193, 193, 255);
  --color-surface: #fff;
  --color-success: #00b56a;
  --color-error: #b5005a;
  --color-on-primary: #fff;
  --color-on-background: #160a38;
  --color-on-surface: #1c1b1f;
}